<md-dialog aria-label="Add a {{addCtrl.searchText}} Sighting" ng-cloak>
  <form name="addForm" novalidate>
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2>Add a {{addCtrl.searchText}} Sighting</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Menu" class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
    <md-radio-group ng-model="formData.time">
      <md-radio-button value="Day" class="md-primary">Day</md-radio-button>
      <md-radio-button value="Night">Night</md-radio-button>
      <md-radio-button value="Unknown">Unknown</md-radio-button>
    </md-radio-group>

    <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
    <md-button type="submit" class="btn btn-danger btn-block" ng-click="answer($scope)" ng-disabled="addForm.$invalid">Report Sighting</md-button>
  </form>
</md-dialog>
